@import "_theme";

.hometitle, .subtitle {
    font-family: $font-title;
}

.card-platform {
    height: 20rem;
}

.card-show {
    border-radius: 5px;
}

.game-title {
    font-family: $font-title;
    text-decoration: none;
    color: $light;
}

a:hover {
    color: $secondary;
}
