@import '_theme.scss';

.hometitle, .subtitle {
    font-family: $font-title;
}

.homeblock {
    margin-top: 10rem;
}

p {
    max-width: 90%;
}

.game-title {
    font-family: $font-title;
    text-decoration: none;
    color: black;
    width: 15rem;
}